name: Data Plane tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  java_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate code
        run: |
          ./proto/hack/generate_proto
      - name: Build Docker image
        run: |
          ./data-plane/build/ci/run_tests.sh