name: Data Plane tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  k8s_tests_data_plane:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install tools
        run: |
          sudo apt-get install -y gettext-base
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.8.1/kind-$(uname)-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind
          kind version
          curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl
          kubectl version --client
      - name: Run k8s with KinD
        run: |
          export KO_DOCKER_REPO=knative-kafka-broker
          kind create cluster
          kubectl wait -n kube-system --for=condition=ready --timeout=60s pods --all
          cd data-plane
          ./build/kafka_setup.sh
          sleep 60;
          kubectl wait -n kafka --for=condition=ready --timeout=120s pods --all
          ./build/build --skip-push --with-kind
          kubectl wait -n knative-eventing --for=condition=ready --timeout=60s pods --all
